<div>
    <h2>Thông Tin Sinh Viên</h2>
    <p>CCCD: <span th:text="${sinhVien.soCMND}"></span></p>
    <p>Họ tên: <span th:text="${sinhVien.hoTen}"></span></p>
    <p>Email: <span th:text="${sinhVien.email}"></span></p>
    <p>Số điện thoại: <span th:text="${sinhVien.soDT}"></span></p>
    <p>Địa chỉ: <span th:text="${sinhVien.diaChi}"></span></p>

    <h3>Thông Tin Tốt Nghiệp</h3>
    <p>Năm tốt nghiệp: <span th:text="${sinhVien.getTotNghiep().getNgayTN()}"></span></p>
    <p>Ngành học: <span th:text="${sinhVien.getTotNghiep().getNganh().gettenNganh()}"></span></p>

    <h3>Thông Tin Công Việc</h3>
    <p>Công ty: <span th:text="${sinhVien.getCongViec().getTenCongTy()}"></span></p>
    <p>Vị trí công việc: <span th:text="${sinhVien.getCongViec().getDiaChiCongTy()}"></span></p>
</div>
